version: '3'
services:
  mall-admin:
    image: mall/mall-admin:1.0-SNAPSHOT
    container_name: mall-admin
    ports:
      - 8080:8080
    external_links:
      - mysql:db #You can use the domain name db to access the mysql service
  mall-search:
    image: mall/mall-search:1.0-SNAPSHOT
    container_name: mall-search
    ports:
      - 8081:8081
    external_links:
      - elasticsearch:es #You can access the elasticsearch service with the domain name es
      - mysql:db #You can use the domain name db to access the mysql service
  mall-portal:
    image: mall/mall-portal:1.0-SNAPSHOT
    container_name: mall-portal
    ports:
      - 8085:8085
    external_links:
      - redis:redis #You can use the domain name redis to access the redis service
      - mongo:mongo #You can use the mongo domain to access mongo services
      - mysql:db #You can use the domain name db to access the mysql service
      - rabbitmq:rabbit #You can use the domain name rabbit to access rabbitmq services